<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xmlns="https://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://xmlns.jcp.org/xml/ns/javaee https://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>javaclass</display-name>
  <!-- 파일의 우선순위 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!--
  <servlet>
    <servlet-name>test8</servlet-name>
    <servlet-class>study.j0424.Test8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test8</servlet-name>
    <url-pattern>/T8</url-pattern>
  </servlet-mapping>
  -->
	<!-- 위에 있는거 controller임(현재도 유지보수시 사용), 지금은 annotation 쓰고 있지만 -->
	<!-- url 통해서 이렇게 맵핑 url mapping하는 pattern -->
	<!-- 자바로 들어가서 여기로 접속 xml // 이름을 줘야 쓸 수 있음  // 자바 안에서 쓰는 이름(웹서버를 통해 들어오려면 서블릿과 url 맵핑시켜야함 -->

	
	<!-- 특정 서블릿에서 초기값 할당하기 -->
	<servlet>
		<servlet-name>javaclass</servlet-name>
		<!-- name은 보통 소문자로 시작, class명은 앞에 패키지명 써주기 -->
		<servlet-class>study.j0430.Javaclass</servlet-class>
		<init-param>
			<param-name>mid</param-name>
			<param-value>admin</param-value>	
		</init-param>
		<init-param>
			<param-name>pwd</param-name>
			<param-value>1234</param-value>	
		</init-param>
		<init-param>
			<param-name>className</param-name>
			<param-value>인사과</param-value>	
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>javaclass</servlet-name>
		<url-pattern>/GreenJavaclass</url-pattern>
	</servlet-mapping>

	
	<!-- 회사에서 공통적인 변수를 사용해야 할때 -->
	<!-- 초기값(공통변수) 미리 설정해두기 -->
	<context-param>
		<param-name>logoName</param-name>
		<!-- 위 변수 사용하면 아래 이름이 뜸 -->
		<param-value>Java Class Company</param-value>		
	</context-param>
	<context-param>
		<param-name>homeAddress</param-name>
		<param-value>http://192.168.50.57:9090/javaclass/</param-value>
	</context-param>
	<!-- 정의 해 놓은 것을 등록 -->

	<!-- 전부 예약어 -->
<!-- 	<error-page>
		<error-code>400</error-code>
		<location>/errorMSG/errorMessage404.jsp</location>
	</error-page>
	404발생하면 보내줘
	<location>/errorMSG/errorMessage.jsp</location>
	<error-page>
		<error-code>404</error-code>
		<location>/errorMSG/errorMessage404.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/errorMSG/errorMessage404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/errorMSG/errorMessage500.jsp</location>
	</error-page> -->
	<!-- 400에러는 안됨. 객체,객체변수타입(서버에서 정상적으로 처리했다고 보는 것 -->

	<!-- Filter 처리(Controller 앞단에서 제어(처리)한다.) // 쓸 곳 위치는 관계없음 -->
	<!-- <filter> -->
		<!-- 소문자로 첫글자 쓰는게 일반적인 약속 -->
		<!-- <filter-name>filterTest</filter-name> -->
		<!-- filter class 정의 // package명.class명 -->
		<!-- <filter-class>filter.FilterTest</filter-class> -->
	<!-- </filter> -->
		<!-- 인터넷에 있는 것과 매칭 시킨다 -->
	<!-- <filter-mapping>
		<filter-name>filterTest</filter-name> -->
		<!-- /javaclass/뭐로 들어올지 모르니까 일단 와일드카드(*) // 주소 보면 무조건 맨 끝에 /있음 // 특정파일로 제한 하고 싶으면 /파일 -->
		<!-- <url-pattern>/*</url-pattern>
	</filter-mapping> -->
</web-app>
<!-- /* filterTest => filterTest(filter.FilterTest) -->
